<div class="d-flex flex-column align-items-center justify-content-center">
    <div class="row w-100 d-flex align-items-center justify-content-center">
            <p-chart class="p-5" type="bar" [data]="eventData" [options]="basicOptions"></p-chart>
            <p-chart class="p-5" type="bar" [data]="modalidadData" [options]="basicOptions"></p-chart>
            <p-chart class="p-5" type="pie" [data]="planData" [options]="basicOptions"></p-chart>
            <p-chart class="p-5" type="doughnut" [data]="paisData" [options]="basicOptions"></p-chart>
            <p-chart class="p-5" type="doughnut" [data]="frecuenciaData" [options]="basicOptions"></p-chart>
            <p-chart class="p-5" type="doughnut" [data]="empresaData" [options]="basicOptions"></p-chart>
            <p-chart class="p-5" type="doughnut" [data]="perfilData" [options]="basicOptions"></p-chart>
    </div>    
</div>